<div class="wrapper">
    <h1>About</h1>
    <p>Ova aplikacija je prototip korisničkog interfejsa digitalnog šaltera bioskopa</p>
    <p>Aplikacija je razvijena radi polaganja ispita iz predmeta "Klijentske veb aplikacije" na Univerzitetu Singidunum</p>
    <p>Izvorni kod: <a class="cyan" href="https://github.com/dusan-mihajlovic-2022206755/KVA-Projekat">GitHub</a></p>
    <p>Korišćene bibilioteke:</p>
    <ul>
        <li>Angular 19</li>
        <li>Angular Material</li>
        <li>Axios HTTP Client</li>
    </ul>
</div>
