<mat-card class="auth-card">
    <mat-card-header>
        <h1>Login</h1>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>Imejl</mat-label>
            <input type="email" matInput placeholder="Vaš imejl..." [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Lozinka</mat-label>
            <input type="password" matInput placeholder="unesite lozinku..." [(ngModel)]="password">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" mat-button (click)="doLogin()">
            <i class="fa-solid fa-right-to-bracket"></i> Uloguj se
        </button>
        <a mat-button routerLink="/signup">
            <i class="fa-solid fa-arrow-up-right-from-square"></i> Kreirajte nalog
        </a>
    </mat-card-actions>
</mat-card>
