.movie-card {
  flex: 1;
  max-width: 60%;
}

.movie-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.movie-content img {
  max-width: 620px;
}
