<div class="wrapper" *ngIf="projection">
  <div class="movie-content">
    <img [src]="projection.movie.poster" [alt]="projection.movie.poster">
    <mat-card class="movie-card" appearance="outlined">
      <mat-card-content>
        <mat-list role="list">
          <h1>{{ projection.movie.title }}</h1>
          <h3>Žanr: {{ MovieService.getMovieGenres(projection.movie) }}</h3>
          <p>Trajanje: {{ UtilsService.convertToHoursAndMinutes(projection.movie.runTime) }}</p>
          <p>Počinje u: <span style="font-weight: bold">{{ utils.formatDate(projection.movie.createdAt) }}</span></p>
          <p>Datum izlaska: {{ projection.movie.startDate | date:"dd.MM.yyyy" }}</p>
          <p>{{ projection.movie.description }}</p>
          <p>Uloge: {{ MovieService.getMovieActors(projection.movie) }}</p>
          <i class="fa-solid fa-star"></i> <h3 style="display: inline"> {{ projection.averageRating | number:"1.1-1" }}</h3>
        </mat-list>

        <mat-card class="reviews-card" appearance="outlined">
          <mat-card-title>Recenzije</mat-card-title>
          <mat-card-content class="reviews-content">
            <div *ngIf="projection.reviews && projection.reviews.length > 0; else noReviews">
              <mat-list>
                <mat-list-item *ngFor="let review of projection.reviews" style="height: 100px">

                  <div class="review-content">
                    <div class="review-header">
                      <mat-icon matListIcon>person</mat-icon>
                      <span class="username">{{ review.username }}</span>
                      <span class="rating">
                        <i class="fa-solid fa-star"></i>
                        {{ review.rating }}/5
                      </span>
                    </div>
                    <p class="review-text">{{ review.reviewText }}</p>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <ng-template #noReviews>
              <p mat-body-text style="text-align: center; color: gray;">Nema dostupnih recenzija</p>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/details/'+projection.movie.movieId+'/order']">
          <i class="fa-solid fa-cart-shopping"></i> Rezerviši
        </a>
      </mat-card-actions>
    </mat-card>


  </div>
</div>

<app-loading *ngIf="!projection"/>
